{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'template.css' %}">
        <style>
        p {
        text-align: justify;
        text-justify: inter-word;
        }
    </style>
</head>
<body>
    <nav class="center">
		<a href="/">Home</a> |
		<a href="/write">Write</a> |
		<a href="/read">Find</a>
	</nav>
    <article class="page">
        <h1> TEXTSTASH </h1>
        <p>
            Welcome to the Home Page for Text Stash.
		</p>
		<p>
            This website allows you to save and retrieve text data online.
		</p>
		<p>
			Please note that all texts can be overwritten, and do not store any personal data here.
		</p>
    </article>
</body>
</html>