{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read | Text Stash</title>
    <link rel="stylesheet" type="text/css" href="{% static 'template.css' %}">
        <style>
        p {
        text-align: justify;
        text-justify: inter-word;
        }
    </style>
</head>
<body>
    <nav class="center">
		<a href="/">Home</a> |
		<a href="/write">Write</a> |
		<a href="/read">Find</a>
	</nav>
    <article class="page">
        <h1> {{ title }} </h1>
        <p> {{ text }}</p>
    </article>
</body>
</html>